%h1
  List of currencies

- if @currencies.empty?
  %p
    No currencies found.
- else
  %table.base
    %tr
      %th Name
      %th Prular
      %th Symbol
      %th Prefix?
      %th Example
      %th.actions &nbsp;
    = render :partial => 'row', :collection => @currencies, :as => :currency
