.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
body {
  margin: 0;
  color: black;
  font-family: Verdana;
  font-size: 12px;
  background: #0C325F;
}
p {
  margin: 0 0 10px;
  line-height: 18px;
}
h1 {
  margin: 0 0 16px;
  font-size: 16px;
}
h2 {
  margin: 0 0 14px;
  font-size: 14px;
}
img {
  border: none;
}
a {
  text-decoration: none;
}
input[type=checkbox] {
  margin: 0;
  vertical-align: middle;
}
form .item.last {
  margin-bottom: 0;
}
form .item label {
  float: left;
  width: 140px;
  text-align: right;
  margin-right: 10px;
  vertical-align: middle;
  line-height: 22px;
}
form .item input[type=text],
form .item input[type=password] {
  float: left;
  width: 200px;
}
form .item input[type=checkbox] {
  margin: 5px 0;
}
#main {
  width: 820px;
  margin: 0 auto;
  border: 1px solid #171025;
  background: #C3D5DF;
}
#header {
  background: url('/images/header_bg.png');
}
#header a.logo {
  display: block;
  float: left;
  height: 100px;
}
#header a.logo img {
  margin: 54px 30px 0;
}
#header .user_info {
  float: right;
}
#footer {
  text-align: center;
  margin: 4px 0;
}
#content {
  padding: 20px;
  margin-bottom: 10px;
}
#menu {
  height: 32px;
  border-top: 1px solid #172D4C;
  background: url('/images/menu_bg.png');
  padding: 0 10px;
}
#menu a {
  display: block;
  float: left;
  cursor: pointer;
  padding: 4px 10px;
  margin-top: 2px;
  margin-right: 14px;
  color: #A7B2BF;
  background: #1C1430;
}
#submenu {
  height: 24px;
  border-top: 1px solid #164D74;
  background: #123D5C;
}
#flash {
  position: absolute;
  top: 200px;
  background: white;
  border: 1px solid #999;
  padding: 20px;
  width: 400px;
}
#flash img {
  vertical-align: middle;
  margin-right: 10px;
}
#flash span {
  vertical-align: middle;
}
form.login {
  margin-bottom: 20px;
}
form.login .item label {
  width: 100px;
}
form.login input[type=submit] {
  margin-left: 108px;
}
form.reset_password .item label {
  width: 40px;
}
form.reset_password input[type=submit] {
  margin-left: 48px;
}
p.reset_password {
  width: 500px;
}
.user_info {
  margin: 78px 18px 0 0;
  color: #40A0CF;
}
.user_info a {
  color: #9FDFFF;
}
.user_info a:hover {
  color: #FFF;
}
.user_info span {
  margin-left: 20px;
}
