.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
body {
  margin: 0;
  color: #333;
  font-family: Verdana;
  font-size: 11px;
  background: #EFEFEF;
}
p {
  margin: 0 0 10px;
  line-height: 14px;
}
h1 {
  margin: 0 0 10px;
  font-size: 16px;
}
h2 {
  margin: 0 0 10px;
  font-size: 14px;
}
h3 {
  margin: 0 0 4px;
}
h4 {
  margin: 0 0 4px;
}
img {
  border: none;
}
a {
  text-decoration: none;
  color: #40A0CF;
}
a:hover {
  color: #2083AF;
}
input[type=text], input[type=password], select, textarea {
  font-family: Verdana;
  font-size: 11px;
  vertical-align: middle;
  background-color: #FEFFAF;
  border-width: 1px;
  border-style: solid;
  border-color: #999 #DDD #DDD #999;
}
input[type=submit] {
  font-family: Verdana;
  font-size: 11px;
  vertical-align: middle;
}
input[type=text]:focus, input[type=password]:focus, select:focus, textarea:focus {
  background-color: #FFFFCF;
  color: black;
}
input.invalid, select.invalid, textarea.invalid {
  border: 1px solid #F00;
}
input[type=checkbox],
input[type=radio] {
  margin: 0;
  vertical-align: middle;
}
label {
  vertical-align: middle;
}
form .item {
  margin-bottom: 10px;
}
form .item.last {
  margin-bottom: 0;
}
form .item .label {
  float: left;
  margin-right: 6px;
  width: 100px;
  text-align: right;
}
form .item .label label {
}
form .item .radiogroup {
  float: left;
}
form .item .radiogroup .radio {
  margin-bottom: 4px;
}
form .item .input {
  float: left;
}
form .item input[type=text],
form .item input[type=password],
form .item textarea,
form .item .error {
  width: 156px;
}
form .item textarea {
  height: 100px;
}
form .item select {
  width: 160px;
}
form .item .no_label {
  margin-left: 106px;
  clear: both;
}
form .item .note {
  clear: both;
  color: #66A;
  font-style: italic;
  font-size: 11px;
  width: 160px;
  padding-top: 4px;
}
form .error {
  padding-top: 2px;
  font-size: 10px;
  color: #F00;
}
.left {
  float: left;
}
.right {
  float: right;
}
.bold {
  font-weight: bold;
}
.lalign {
  text-align: left;
}
.calign {
  text-align: center;
}
.ralign {
  text-align: right;
}
#main {
  width: 900px;
  margin: 0 auto;
  border: 1px solid #123D5C;
  background: white;
}
#header {
  background: url('/images/header_bg.png');
}
#header a.logo {
  display: block;
  float: left;
  height: 100px;
}
#header a.logo img {
  margin: 54px 30px 0;
}
#header .user_info {
  float: right;
}
#footer {
  text-align: center;
  margin: 4px 0;
}
#content {
  padding: 20px;
  margin-bottom: 10px;
}
#menu {
  height: 32px;
  border-top: 1px solid #172D4C;
  background: url('/images/menu_bg.png');
  padding: 0 10px;
}
#menu a {
  display: block;
  float: left;
  cursor: pointer;
  padding: 6px 10px;
  margin-top: 2px;
  margin-right: 8px;
  color: #A7B2BF;
  background: #1C1430;
}
#menu a.selected, #menu a:hover {
  background-color: #110C1F;
}
#menu .add_activity {
  background: #1C1430 url('/images/add_activity.png') no-repeat 8px 5px;
  padding: 6px 10px 6px 30px;
  margin-top: 2px;
  margin-right: 0px;
}
#submenu {
  height: 24px;
  border-top: 1px solid #164D74;
  background: #123D5C;
  padding: 0 10px;
}
#submenu a {
  display: block;
  float: left;
  cursor: pointer;
  padding: 3px 12px;
  margin-top: 4px;
  margin-right: 8px;
  color: #A7B2BF;
  background: #0A334F;
}
#submenu a.selected, #submenu a:hover {
  background-color: #04273F;
}
#flash {
  position: absolute;
  top: 200px;
  background: white;
  border: 1px solid #999;
  padding: 20px;
  width: 400px;
  z-index: 3;
}
#flash img {
  vertical-align: middle;
  margin-right: 10px;
}
#flash span {
  vertical-align: middle;
}
.datepicker_calendar {
  z-index: 2;
}
form.login {
  margin-bottom: 20px;
}
form.reset_password .item > label {
  width: 40px;
}
form.reset_password .item .no_label {
  margin-left: 46px;
}
p.reset_password {
  width: 500px;
}
.user_info {
  margin: 78px 18px 0 0;
  color: #40A0CF;
}
.user_info a {
  color: #9FDFFF;
}
.user_info a:hover {
  color: #FFF;
}
.user_info span {
  margin-left: 20px;
}
.side_form {
  float: right;
  width: 300px;
  background: #eee;
  padding: 10px;
  border: 1px solid #CCCCCC;
}
.side_form h2 span {
  font-size: 11px;
}
.listing {
  width: 520px;
  margin-bottom: 30px;
}
.listing h2 {
  margin-bottom: 20px;
}
.listing h2 {
  margin-bottom: 0;
}
.listing h2 span,
.listing h3 span,
.listing h4 span {
  font-weight: normal;
}
table.base {
  width: 100%;
  border: 1px solid #CCC;
}
table.base tr th {
  background: #86CFEF;
}
table.base th {
  padding: 4px 4px;
}
table.base td {
  height: 22px;
  padding: 0 4px;
}
table.base tr.even {
  background: #eee;
}
table.base input[type=checkbox],
table.base input[type=radio] {
  vertical-align: top;
}
table.calendar {
  border: 1px solid #CCC;
}
table.calendar caption {
  padding: 6px 0;
  font-size: 11px;
  background: #EEE;
  border: 1px solid #CCC;
  border-bottom-color: #DDD;
}
table.calendar caption a {
  color: #123D5C;
}
table.calendar caption a:hover {
  color: black;
}
table.calendar caption span {
  margin: 0 20px;
  font-weight: bold;
}
table.calendar th {
  background: #86CFEF;
  width: 120px;
}
table.calendar td {
  height: 80px;
}
table.calendar td.disabled {
  color: #DDD;
  background: url('/images/datepicker/backstripes.gif');
}
table.calendar td.active {
  background: url('/images/comment.png') no-repeat 50% 50%;
}
table.calendar td.weekend {
  background-color: #CFFFDF;
}
table.calendar td.day_off {
  background: url('/images/day_off_bg.png') no-repeat 50% 50%;
}
table.calendar .day_off_icon {
  text-align: right;
  margin-right: 2px;
  margin-top: 40px;
}
.cell {
  padding: 2px;
  border: 1px solid #EEE;
  vertical-align: top;
}
.cell p {
  margin-bottom: 0;
}
.cell .content {
  padding: 0 10px;
}
.cell .activity {
  border-bottom: 1px solid #DDDDDD;
  padding: 10px 0;
}
.cell .activity .project .name {
  font-weight: bold;
}
.cell .activity p {
  margin-bottom: 4px;
}
.cell .activity .actions {
  margin-top: 6px;
}
.cell .total {
  margin: 4px 0;
}
.cell .total span {
  font-weight: bold;
}
#activity_details {
  position: absolute;
  width: 210px;
  min-height: 74px;
  background: white;
  border: 1px solid #CCC;
}
#activity_details .mday {
  display: none;
}
#activity {
  position: absolute;
  background: #171026;
  padding: 14px;
  color: #A7B2BF;
  z-index: 1;
}
#activity a {
  color: #8E9DAF;
}
#activity form .item textarea {
  width: 180px;
}
#activity form .item .note {
  color: #8E9DAF;
}
#activity form .item .label {
  width: 70px; 
}
#activity form .item .no_label {
  margin-left: 76px;
}
.hourly_rates h3 {
  margin-top: 10px;
}
.hourly_rates .role {
  border: 1px solid #CCC;
  background: #FAFAFA;
  padding: 6px;
  margin-bottom: 10px;
}
.hourly_rates .role h4 {
  margin-top: 0;
  margin-bottom: 6px;
}
.hourly_rates .role .list {
  margin-bottom: 6px;
}
.hourly_rates .form form {
  margin-top: 10px;
}
.hourly_rates .form form .item input[type="text"], 
.hourly_rates .form form .item .error {
  width: 106px;
}
.hourly_rates .form form .item select {
  width: 110px;
}
.icon_with_label span,
.icon_with_label img {
  vertical-align: bottom;
}
.listing .clients {
}
.listing .client {
  border: 1px solid #E0E0E0;
  background: #F0F0F0;
  padding: 4px 6px;
  margin-bottom: 10px;
}
.listing .client h2 {
  margin-bottom: 10px;
  color: #333;
}
.listing .projects {
  margin-left: 20px;
}
.listing .project {
  margin-bottom: 10px;
  border: 1px solid #E6E6E6;
  background: #F6F6F6;
  padding: 4px 6px;
}
.listing .project h3 {
  margin: 0 0 10px;
  color: #444;
}
.listing .roles {
  margin-left: 20px;
}
.listing .role {
  margin-bottom: 10px;
  border: 1px solid #ECECEC;
  background: #FCFCFC;
  padding: 4px 6px;
}
.listing .role h4 {
  margin: 0 0 10px;
  color: #555;
}
.listing .users {
  margin-left: 20px;
}
.listing .user {
  margin-bottom: 10px;
  border: 1px solid #EEE;
  background: white;
  padding: 4px 6px;
}
.listing .user h4 {
  margin: 0 0 4px;
  color: #666;
}
.listing .user table.base .first {
  padding: 4px 0;
  width: 24px;
}
.listing .user table.base tfoot {
  font-weight: bold;
}
.listing .invoice {
  padding-top: 20px;
}
tr.invalid {
  color: red;
  font-weight: bold;
}
