%h1
  List of clients' users

- if collection.empty?
  %p
    No client users found.
- else
  %table.base
    %tr
      %th Name
      %th Client
      %th Active
      %th.actions.ralign &nbsp;
    = render :partial => 'client_user_row', :collection => collection, :as => :user
