%h1
  List of employees

- if collection.empty?
  %p
    No employees found.
- else
  %table.base
    %tr
      %th Name
      %th Role
      %th Active
      %th.actions.ralign &nbsp;
    = render :partial => 'employee_row', :collection => collection, :as => :user
