%h1
  List of clients' users

- if @clients_users.empty?
  %p
    No client users found.
- else
  %table
    %tr
      %th Name
      %th Client
      %th Active
      %th.actions &nbsp;
    = render :partial => 'client_user_row', :collection => @clients_users, :as => :user
