%h1
  List of admins

- if @admins.empty?
  %p
    No admins found.
- else
  %table.base
    %tr
      %th Name
      %th Role
      %th Active
      %th.actions.ralign &nbsp;
    = render :partial => 'admin_row', :collection => @admins, :as => :user
