.clearfix
  .side_form
    = render :partial => 'form'
  .left
    .listing
      = render :partial => 'listing_admins'
    .listing
      = render :partial => 'listing_employees'
    .listing
      = render :partial => 'listing_clients_users'
