.clearfix
  .side_form
    = render :partial => 'form'
  .left
    .listing
      = render :partial => 'admins', :object => @admins, :as => :collection
    .listing
      = render :partial => 'employees', :object => @employees, :as => :collection
    .listing
      = render :partial => 'clients_users', :object => @clients_users, :as => :collection
