%h1
  Password reset
  
%p.reset_password
  If you have forgotten your Rubytime credentials please enter your e-mail address 
  and we will send you password reset link.
   
= form_for :reset_password, :url => do_request_password_users_url, :html => {:class => :reset_password} do |i|
  .item.clearfix
    .label
      = i.label :email
    .input
      = i.text_field :email
  .item.last
    = i.submit :submit, :class => :no_label
