%h1
  List of clients

- if @clients.empty?
  %p
    No clients found.
- else
  %table.base
    %tr
      %th Name
      %th Email
      %th Active
      %th.actions &nbsp;
    = render :partial => 'row', :collection => @clients, :as => :client
