%h1
  List of projects

- if @projects.empty?
  %p
    No projects found.
- else
  %table.base
    %tr
      %th Name
      %th Client
      %th Active
      %th.actions.ralign &nbsp;
    = render :partial => 'row', :collection => @projects, :as => :project
