%h1
  List of roles

- if @roles.empty?
  %p
    No roles found.
- else
  %table.base
    %tr
      %th Name
      %th Can manage financial data?
      %th.actions.ralign &nbsp;
    = render :partial => 'row', :collection => @roles, :as => :role
