- group_by_clients = group(list) {|i| i.project.client}

.clients
  - group_by_clients.each_pair do |client, client_activities|
    .client[client]
      %h2
        Client:
        %span
          = client.name
      
      .projects
        - group_by_projects = group(client_activities) {|i| i.project}
        - group_by_projects.each_pair do |project, project_activities|
          .project[project]
            %h3
              Project:
              %span
                = project.name
            
            - if admin?
              = render :partial => 'roles', :locals => {:project_activities => project_activities, :project => project}
            - else
              = render :partial => 'table', :locals => {:user_activities => project_activities}
