%table.base
  %thead
    %tr
      - if admin?
        %th.first= check_box_tag :select_all, 1, false, :id => nil, :style => 'display: none'
      %th Date
      %th Time
      - if admin_or_client?
        %th Invoice (at)
        %th Hourly rate
      - unless client?
        %th.actions.ralign &nbsp;

  %tfoot
    %tr
      %td.ralign{:colspan => admin? ? 2 : 1}
        Total:
      %td.calign
        = format_time_spent(Activity.total_time(activities))
      %td{:colspan => admin? ? 2 : 1}
        = Activity.total_value(activities) 

  %tbody
    = render :partial => 'row', :collection => activities, :as => :activity
