%table.base
  %thead
    %tr
      - if admin?
        %th.first= check_box_tag :select_all, 1, false, :id => nil, :style => 'display: none'
      %th Date
      %th Time
      - if admin_or_client?
        %th Invoice (at)
        %th Hourly rate
      - unless client?
        %th.actions.ralign &nbsp;

  %tfoot
    %tr
      %td.ralign{:colspan => admin? ? 2 : 1}
        Total:
      %td.calign
        - minutes = user_activities.inject(0) {|mem, i| mem + i.minutes}
        = format_time_spent(minutes)
      %td{:colspan => admin? ? 2 : 1}
        = Activity.total_value(user_activities) 

  %tbody
    = render :partial => 'row', :collection => user_activities, :as => :activity
