%table.base
  %thead
    %tr
      - if admin?
        %th.first= check_box_tag :select_all, 1, false, :id => nil, :style => 'display: none'
      %th Date
      %th Time
      - if admin_or_client?
        %th Invoice
      - unless client?
        %th.actions.ralign &nbsp;

  %tfoot
    %tr
      %td.ralign{:colspan => admin? ? 2 : 1}
        Total:
      %td.calign
        - minutes = user_activities.inject(0) {|mem, i| mem + i.minutes}
        = format_time_spent(minutes)
      %td{:colspan => admin? ? 2 : 1}
        - unless hr.nil?
          value:
          = format_currency(hr.currency, hr.value * minutes / 60.0)

  %tbody
    = render :partial => 'row', :collection => user_activities, :as => :activity
