.clearfix
  .side_form.filter
    = render :partial => 'filter'
  .left
    - if @params_filter.nil?
      %h3
        Use filter form on the right to search activities
    - else
      .listing
        = render :partial => 'listing'
