.clearfix
  .sideForm
    = render :partial => 'filter'
  .listing
    %h1
      List of activities
  
    - if @activities.empty?
      %p
        No activities found for selected critieria.
    - else
      %table
        %tr
          %th Date
          %th User
          %th Project
          %th Time
          %th.actions &nbsp;
        = render :partial => 'activity_row', :collection => @activities, :as => :activity
