.clearfix
  .side_form.filter
    = render :partial => 'filter'
  .left
    - if @params_filter.nil?
      %h3
        Use filter form on the right to search activities
    - else
      .listing
        %h1
          List of activities
        
        - if @activities.empty?
          %p.no_results
            No activities found for selected criteria.
        - else
          = render :partial => 'list', :object => @activities
      
      #activity_template{:style => 'display: none'}
        - activity = Activity.new(:user => User.new, :project => Project.new(:client => Client.new))
        = render :partial => 'list', :object => [activity]
