.clearfix
  .side_form.filter
    = render :partial => 'filter'
  .left
    .listing.activities
      .clearfix
        = link_to 'hide users', '#', :id => :toggle_users, :style => 'display: none' if admin_or_client?
        %h1.left
          List of activities
      #results
        - if @params_filter.nil?
          %h3
            Use filter form on the right to search activities
        - else
          = render :partial => 'results'
