- if logged_in?
  .left
    = link_to 'activities', activities_url
    = link_to 'invoices', activities_url
    = link_to 'manage', activities_url
  .right
    = link_to 'Add new activity', new_activity_url, :class => :add_activity
